// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 50px;
    color: #F3F2C9;
    font-family: 'Lobster', cursive;
    margin:20px;
    background-color: #FF67E7;
  }
  .asking {
     margin:20px;
  }
  .answer_contianer{
    background-color: #FFFFE0;
    font-size:25px;
    font-weight: bold;
    font-family: 'Otomanopee One', sans-serif;
    padding:20px;
    border-left: 10px solid #F3F2C9;
    border-color: #DCDCDC;
    margin: 20px;
  
  }
  
  #coach{
    font-style: italic;
    font-weight:normal;
    font-family: 'Otomanopee One', sans-serif;
  }
  
  .question_container{
    font-size:25px;
    font-family: 'Otomanopee One', sans-serif;
    padding:20px;
    border-left: 10px solid #F3F2C9;
    border-color: #DCDCDC;
    margin: 20px;
  }
  .example {
    padding: 10px;
    font-size: 17px;
    font-family: 'Otomanopee One', sans-serif;
    border: 1px solid #716F81;
    float: left;
    width: 70%;
    background: white;
    border-radius: 5px;
    margin: 0 0 0 20px ;
  }
  
  .btn {
    background: #512D6D;
    font-size: 32px;
    font-family: 'Otomanopee One', sans-serif;
    color: #EEEEEE;
    border-radius: 5px;
    }
